.button {
	width: 160px;
	height: 60px;
	margin-top: 50px;
	font-weight: bold;
	background-color: #fa991c;
	border: none;
	border-radius: 10px;
	transition: all 0.1s linear;
	color: #fbf3f2;
	font-size: 18px;
}

.button:hover {
	box-shadow: 0px 0px 10px #fbf3f2;
	border: 2px solid #fbf3f2;
}
