@import url('https://fonts.cdnfonts.com/css/b-biggest-garbage');

.loadingText {
	font-family: 'b Biggest Garbage', sans-serif;
	font-size: 70px;
	font-weight: bold;
	font-family: 'b Biggest Garbage', sans-serif;
	color: #fa991c;
	margin: auto;
}
